@use './modules/fonts';
@use './modules/colors';
@use './modules/format';

@use './pages/dashboard';
@use './pages/login';

:root{
  font-size: 16px;
}

body {

  font-size: 1rem;
  color: rgb(27, 27, 27);
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: auto;
  text-align: center;
}

nav{
  background: rgb(27, 54, 90);
  color: rgb(221, 221, 221);
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;

}

nav>h1{
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
}

.Navbar-Logo{

}

.Navbar-Buttons{
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
}

.Navbar-Button{
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
}

.Front-Container{
  text-align: center;

}


.Login-Form{
  margin: auto;
  width: 15rem;
  margin-top: 20vh;

}

.Login-Field{
  font-size: 1.2rem;
  padding: 8px 22px;
  margin: 8px 0 8px;
  width: 100%;
}

.Login-Submit{
  font-size: 1rem;
  
  padding: 6px 20px;
  background: none;
  color: inherit;
  font-size: inherit;
}

.Error{
  color:rgb(224, 11, 11);
  font-size: 1.1rem;
}


.Landing{
  margin: auto;
  margin-top: 20vh;
  font-size: 1.4rem;
}


.Landing-Transaction-Button{
  
  background: rgb(27, 54, 90);
  border: 2px solid rgb(27, 54, 90);
  border-radius: 5px;
  color: rgb(221, 221, 221);
  font-size: inherit;
  margin-top: 2rem;
  padding: 0.6rem;
  text-decoration: underline;
  transition: all 0.20s ease-out;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 1px 2px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 1px 2px 0 rgba(0,0,0,0.2);
}

.Landing-Transaction-Button:hover, .Landing-Transaction-Button:active{
  background-color:rgb(20, 59, 185);
  
}


.Landing-Transaction-Button:active{
  transform: translateY(0.15rem);
  
}


/*
Defines relative layout of the table to
the account selection area.*/
.Reports-Container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1.5rem 1rem 0 1rem;
  height: 80%;

}


.Accounts-Container{
  text-align: left;
  font-size: 2rem;
}

.Account{
  padding-left: 1rem;
  background: none;
  border: none;
  color: inherit;
  font-size: 1rem;
}


/* Table container would hold the table as well as
the title of the table and its
sort options */
.Table-Container{
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
  padding-bottom: 2rem;
}

table{
text-align: left;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
width: 100%;

}

/* Data titles, rows, and entries*/

th, td{
  padding: 0.75rem;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}


th{
}

tr{

}

td{
  font-size: .8rem;

}


.Profit{
  color: green;

}

.Expense{
  color: red;
}


